/**
 * This is the central home page
 *
 */
section#home {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px 20px 0;
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;

    div.content {
        max-width: $siteWidth;
        margin: 0 auto;
        color: #FFF;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;

        h5{
            font-size: 18px;
        }
    }

    div.card-outer {
        width: 33.33%;
        padding: 20px;

        div.card-inner {
            background-color: #FFF;
            color: #000;
            padding: 30px;
            border-radius: 10px;
            height: 650px;

            img {
                width: 100%;
                max-height: 350px;
                object-fit: contain;
            }

            div.container {
                div.title {
                    padding: 10px 0;
                    text-align: center;

                    h4 {
                        font-size: 20px;
                    }
                }

                div.price {
                    text-align: center;
                    padding: 10px 0;

                    p {
                        font-size: 18PX;
                        font-weight: bold;
                    }
                }

                div.description {
                    text-align: justify;
                    color: rgba(0, 0, 0, 0.7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                div.product_tags {
                    padding: 20px 0;
                    gap: 10px;
                    display: flex;
                    overflow-x: scroll;
                    height: 75px;

                    &::-webkit-scrollbar {
                        height: 2px
                    }

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.00)
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #d1d1d1;
                        border-radius: 10px;
                    }

                    div.tag {
                        background-color: rgba(0, 0, 0, 1);
                        padding: 8px 20px;
                        color: #fff;
                        border-radius: 30px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}